<% if current_user %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="logout">Log Out <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div align="center">
  <h3>Welcome <%= current_user.name %> <%= current_user.last_name %>.</h3><br>
  <h3>Phone number 1: <%= current_user.phone_1 %>.</h3>
</div>

<% else %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="signup">Sign Up <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="login">Log In <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div align="center">
  <br><h1>No user</h1>
</div>
<% end %>
<p id='notice'><%= notice %></p>
